:root{
   font-family:"lora";
   font-weight: 400;
   min-height: 100vh;
   max-width: 1280px;
   background-color: white;
   margin: 0 auto;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{
     margin: 0px;
     background:rgb(250, 172, 76);
     border: 1px solid white;
     background-size: cover;
}


nav{
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo img{
    width: 56px;
    height: 56px;
    padding: 8px;
    border-radius:50%;
}
nav .logo .tittle{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}
nav ul li{
    color: white;
    padding: 22px 20px;
    background-color: #212120;
    border-radius: 50px;

}
nav ul li:hover{
    background-color: #dd9427;

}
nav ul li.active{
      background-color: #dd8c13;


}
nav ul li a{
    color: white;
    text-decoration: none;
}

.banner{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background-image: url(//unsplash.it/900/450/?blur);
    background-size: cover;
    background-color: #5e5a55;
    text-align: center;
}
@keyframes appear {
    from {
        opacity: 0.2;
        top:-100px;

    }
    to{
        opacity:1.0;
        top: 0.0;

    }
}
.banner .heading {
    flex: 1;
    justify-self: center; 
    color: rgb(255, 254, 254);
    font-size: 3em;
    font-weight: bold;
    position: relative;
    animation: appear 1s ease-in-out 0s forwards;
}  
.banner .heading small{
    font-size: 24px;
}
.maintext{
    font-size: 18px;
    padding: 12px;
}
.subtext{
    display: flex;
}
.subtext div{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: rgb(247, 242, 242);
    
}
.subtext .red{
    background-color: rgb(243, 130, 74);
}
.subtext .blue{
    background-color: rgb(77, 123, 250);
}
.subtext .green{
    background-color: rgb(198, 81, 247);
}


.quote{
    display: block;
    background-color: #f9f0e7;
    text-align: center;
    padding: 30px;
    margin: 0;
    font-style: italic;
    font-size: 15px;
}
.quote::before{
    display: inline-block;
    content: open-quote;
    color: #a83b3b;
    font-size: 32px;
}
.quote::after{
    display: inline-block;
    content: close-quote;
    color: #a83b3b;
    font-size: 32px;
}
h3.tittle{
    font-size: 24px;
    padding: 12px;
    margin: 6px;
    border-bottom: 5px solid #ddd;
    border-top: 5px solid #ddd;
}
.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.project{
    flex-basis: 325px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    justify-self: center;
}
.project h4{
    font-size: 20px;
    padding: 12px;
    margin: 6px;
    border-bottom: 5px solid #ddd;
    border-top: 5px solid #ddd;
}

.project p{
    padding: 0px 12px;
}
.project img{
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.project img:hover{
    transform: scale(0.95);
    opacity: 0.7;
}
button{
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius:4px ;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
}
.project button:hover{
    background-color: #45a040;
}


.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 8px;
    padding: 12px;
}
.gallery-item{
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-in;
}
.gallery-item:hover{
    transform: scale(0.95);
}
.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-item1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.gallery-item2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.gallery-item3{
    grid-column: 3/5;
    grid-row: 1/3;
}
.gallery-item4{
    grid-column: 1/3;
    grid-row: 2/4;
}
.gallery-item5{
    grid-column: 3/4;
    grid-row: 3/4;
}
.gallery-item6{
    grid-column: 4/5;
    grid-row: 3/4;
}
/*contant*/
.container{
    display: flex;
    border-radius: 5px;
    padding: 20px;
    background-color: #f2f2f2;
    margin: 10px 0px;
}
.container form{
    flex: 1;
}
input[type=text], select , textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    height: 50px;
}
input[type=submit]{
    background-color: green;
    color: white;
    padding: 12px 20px ;
    border-radius: 4px;
    border: none;

}

/* contact us page*/
.container{
    display: flex;
    border-radius: 20px;
    padding: 20px;
     background:rgb(250, 172, 76);
    margin: 10px 0px;
}
.container form{
    flex: 1;
}
input[type=text], select , textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    height: 50px;
}
input[type=submit]{
    background-color: green;
    color: white;
    padding: 12px 20px ;
    border-radius: 4px;
    border: none;

}
input[type=submit]:hover{
    background-color: #45a040;
    
}
.container .map{
    padding: 12px;
    margin-left: 20px;
    flex: 1;


}
.footer{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(60, 70, 81);
    color: white;
    text-align: center;
    padding: 20px;

}

@media all and (max-width:600px)
{
    nav{
        flex-direction:column ;
        align-items: center;
    }
    nav ul{
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        margin: 0;
        padding: 0;
    }
    nav ul li{
        text-align: center;
    }
    .subtext{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    .container .map{
        margin-right:0px;
    }
   iframe{
        width: 100%;
        height: 300px;

     }
    
}